body {
    background-color: #DDD;
    margin: auto;
    max-width: 960px;
    /*
    border-left: 1px solid black;
    border-right: 1px solid black;
    */
    font-family: Verdana, sans-serif;
    font-size: 12px;
    color: #333;
}
pre {
    border: 1px dotted gray;
    background-color: #ececec;
    color: #1111111;
    padding: 0.5em;
}
code {
    font-family: monospace;
}
h1 a, h2 a, h3 a, h4 a, h5 a {
    color: #77F;
}
h1, h2, h3, h4, h5 {
  font-family: verdana;
  font-weight: bold;
  color: #666;
  margin-block-start: 10px;
  margin-block-end: 10px;
}
h1 {
        font-size: 30px;
        border-bottom: 3px solid #DDD;
}

h2 {
        font-size: 24px;
}

h3 {
        font-size: 18px;
        border-bottom: 2px dotted #DDD;
}

h4 {
        font-size: 16px;
        -webkit-margin-before: 0px;
        -webkit-margin-after: 0px;
        -webkit-margin-start: 0px;
        -webkit-margin-end: 0px;
}

h5 {
        font-size: 110%;
        font-style: italic;
        -webkit-margin-before: 0px;
        -webkit-margin-after: 0px;
        -webkit-margin-start: 0px;
        -webkit-margin-end: 0px;
}

ul {
  margin-block-start: 8px;
  margin-block-end: 12px;
}

dt code {
        font-weight: bold;
}
p {
        margin-top: 0;
        margin-bottom: 5px;
}

table {
  padding: 15px;
}

table tr td {
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 5px;
  padding-right: 5px;
}

#content {
    background-color: #FFF;
    margin: auto;
    padding: 1em;
}
#container {
}
#left, #right {
  float: left;
  width: 50%;
}

#footer {
        padding-top: 1em;
        font-size: 70%;
        color: gray;
        text-align: center;
        }
